*.csv filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
output/models/model.pth filter=lfs diff=lfs merge=lfs -text
dataset/cnn_data/all_imgs_order.zip filter=lfs diff=lfs merge=lfs -text
